<%- include('includes/layout.ejs') %>
                        
                        <!-- page content --><div class="right_col" role="main" style="min-height: 1485px;">
                          <div class="">
                            <div class="page-title">
                              <div class="title_left">
                                <h3>My Restaurant</h3>
                              </div>
                              <div class="title_right">
                                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                                  <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                                      <button class="btn btn-default" type="button">Go!</button>
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row">
                              <div class="col-md-12 col-sm-12  ">
                                <div class="x_panel">
                                  <div class="x_title">
                                    <h2><i class="fa fa-suitcase mr-2"></i><%= member.mb_nick.toUpperCase()%> Products Menu</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                      </li>
                                      <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                                            class="fa fa-wrench"></i></a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="#">Settings 1</a>
                                          <a class="dropdown-item" href="#">Settings 2</a>
                                        </div>
                                      </li>
                                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                                      </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                  </div>
                                              <!-- manage -->
                                              <div class="   d-flex justify-content-lg-between flex-column flex-xl-row ">
                                                <div class=" d-flex justify-content-lg-between flex-column flex-xl-row">
                                                  <div>
                                                    <select style="width:100px;" class="custom-select" id="inputGroupSelect01">
                                                      <option selected>Choose...</option>
                                                      <option value="1">One</option>
                                                      <option value="2">Two</option>
                                                      <option value="3">Three</option>
                                                    </select>
                                                  </div>
                                                  <div style="width:400px;" class="input-group ml-0 ml-xl-3 mt-3 mt-xl-0  ">
                                                    <input type="text" class="form-control" placeholder="Search...">
                                                    <div class="input-group-append">
                                                      <button type="button" class="btn btn-secondary "><span class="glyphicon glyphicon-search "></span></button>
                                                    </div>
                                                  </div>
                                                </div>
                                                
                                              </div>

                                  <div class="x_content">
                                    <!-- Add content to the page ... -->

                                      <div id="">

                                      
                                        <!-- <div > -->
                                          <div class="">
                                            <div class="">

                                              <div class="x_content">
                                                <table class="table table-striped responsive">
                                                  <thead class="thead-light" style="text-align: center">
                                                    <tr>

                                                      <th scope="col">T/r</th>
                                                      <th scope="col">Product name</th>
                                                      <th scope="col">Product type</th>
                                                      <th scope="col">Product size</th>
                                                      <th scope="col">Orginal price</th>
                                                      <th scope="col">Discount price</th>
                                                      <th scope="col">Product left over</th>
                                                      <th scope="col">Product status</th>
                                                    </tr>
                                                  </thead>
                                      
                                                  <% market_data.map((value, key)=> { %>
                                                    <tbody style="background: white; text-align: center">
                                                      <tr>

                                                     
                                                      <td scope="row">
                                                        <%= key +1 %>
                                                      </td>
                                                      <td style="text-transform: capitalize">
                                                        <%= value.product_name %>
                                                      </td>
                                                      <td>
                                                        <%= value.product_collection %>
                                                      </td>
                                                      <td>
                                                        <% if (value.product_collection==="drink" ) { %>
                                                          <%= value.product_volume %> liter <% } else if (value.product_collection==="meat" ||
                                                              value.product_collection==="fresh" ) { %>
                                                              <%= value.product_weight %> kg <% } else if (value.product_collection==="family" ||
                                                                  value.product_collection==="readyToEat" || value.product_collection==="parfumerie" ||
                                                                  value.product_collection==="texno" ) { %>
                                                                  <%= value.product_family %> pc<% } else if (value.product_size==="1" ||
                                                                      value.product_size==="2" || value.product_size==="3" ) { %>
                                                                      <%= value.product_size %> liter <% } else { %>
                                                                          <%= value.product_size %>
                                                                            <% } %>
                                                      </td>
                                      
                                                      <td>₩ <%= value.product_price %>
                                                      </td>
                                                      <td>₩ <%= value.product_discount %>
                                                      </td>
                                                      <td>
                                                        <%= value.product_left_cnt %>
                                                      </td>
                                                      <td>
                                                        <select id="<%= value._id %>" class="spec_select new_product_status">
                                                          <option value="PAUSED" <%=value.product_status==="PAUSED" ? 'selected' : '' %> ><span
                                                              class="option_paused">PAUSED</span>
                                                          <option value="PROCESS" <%=value.product_status==="PROCESS" ? 'selected' : '' %> >PROCESS
                                                        </select>
                                                      </td>
                                                      </tr>
                                                    </tbody>
                                                    <% }); %>
                                                </table>
                                              </div>
                                      

                                            </div>
                                      
                                          </div>
                                        <!-- </div> -->
                                      </div>
                                    <!-- Add content to the page ... --> 
                                                    <div class="float-right">
                                                    
                                                      <button type="submit" class="btn btn-secondary " data-toggle="modal" data-target="#exampleModal">
                                                        Delete</button>
                                                                                                 
                                                                                                        <!-- <button class="btn btn-primary hiding_btn">Product Add</button> -->
                                                                                                        <button class="btn btn-primary"><a style="color:white" href="/resto/products/add-produts">Add Product</a> </button>
                                                                                                  
                                                      <button type="submit" class="btn btn-success ">Download as an excel file</button>
                                                    </div>
                                                    <!--  modal -->
                                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                      <div style="margin:200px auto;" class="modal-dialog ">
                                                        <div class="modal-content ">
                                                          <div class="modal-header bg-dark text-white">
                                                            <!-- <h5 class="modal-title" id="exampleModalLabel">Allow Wi-Fi(AP) Info.</h5> -->
                                                            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                                              <span aria-hidden="true">&times;</span>
                                                            </button>
                                                          </div>
                                                          <div class="modal-body">
                                                    
                                                            <div class="row">
                                                    
                                                              <form class="form-inline">
                                                                <h5>Do you want to delete product?</h5>
                                                    
                                                              </form>
                                                            </div>
                                                            <!--  -->
                                                          </div>
                                                          <div class="modal-footer">
                                                            <button type="submit" class="btn btn-secondary" data-dismiss="modal">cancel</button>
                                                            <button type="submit" class="btn btn-success">Delete</button>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <!--  -->

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>


  
<%- include('includes/footer') %>
